name: Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
    - name: Download Dependencies
      run: go mod download
    - name: Execute Tests
      run: go test -timeout 5m ./...
